<div class="note">
  <div class="note__title">
    {{ post.title }}
  </div>
  <div class="note__description">
    {{ post.description }}
  </div>
  <a href="{{ post.link }}">Read more</a>
  {% if post.isNotFree %}
    <button class="snipcart-add-item"
      data-item-id={{ post.itemId }}
      data-item-price={{ post.itemPrice }}
      data-item-file-guid={{ post.itemFileGuid }}
      data-item-description={{ post.itemDescription }}
      data-item-image={{ post.itemImage }}
      data-item-name={{ post.itemName }}
      Add to cart
    </button>
  {% endif %}
</div>
