<div class="note">
  <div class="note__title">
    {{ post.global.title }}
  </div>
  <div class="note__description">
    {{ post.card-info.description }}
  </div>
  <div class="post-buttons__container">
    <div class="container__left-buttons">
      <a class="btn" href="{{ post.card-info.link }}">Содержимое</a>
      <a class="btn" href="{{ post.card-info.descriptionLink }}">Описание</a>
    </div>
    {% if post.card-info.isNotFree %}
      {% include custom-includes/buybtn.html %}
    {% endif %}
  </div>
</div>
