<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">
  <meta http-equiv="Content-Type" content="application/json; charset=utf-8">
  <body>
    {% include header.html %}
    <header>
      <a href="/posts">Posts</a>
    </header>
    <subheader>
      {% include breadcrumbs.html %}
    </subheader>
    <main class="main">
      <div class="products">
        {{ content }}
      </div>
    </main>
  </body>
  <link rel="stylesheet" href="/assets/styles/css/index.css" />
  <link rel="stylesheet" href="/assets/styles/css/variables.css" />
  <link rel="stylesheet" href="https://cdn.snipcart.com/themes/v3.2.2/default/snipcart.css" />
  <script async src="https://cdn.snipcart.com/themes/v3.2.2/default/snipcart.js"></script>
  <script src="https://kit.fontawesome.com/3ddd0feda7.js" crossorigin="anonymous"></script>
  <div id="snipcart" data-api-key="ZjgyNjkwMDAtNGM3MS00ODA5LTgyNjEtMDA4YzVjY2E3MGJmNjM3NzM1OTQ4Mzk2Nzg5Nzkx" hidden></div>
</html>
