<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="application/json; charset=utf-8">
    <title>Test</title>
  </head>
  <link rel="stylesheet" href="/website/assets/styles/css/index.css"/>
  <link rel="stylesheet" href="/website/assets/styles/css/variables.css" />
  <script src="https://kit.fontawesome.com/3ddd0feda7.js" crossorigin="anonymous"></script>
  <header>
  </header>
  <subheader>
    {% include breadcrumbs.html %}
  </subheader>
  <body class="home__body">
    <a class="btn" href="/website/app/pages/content/posts/">Posts</a>
  </body>
  <footer>
  </footer>
</html>
